<div class="container" id="home-container">
    <div class="jumbotron text-center text-green">
        <h1 class="display-4">eCOM-YouStud</h1>
        <p class="lead">Siamo lieti di accoglierti in youstud.</p>
        <hr class="my-4">
        <p>Una piataforma che ti permette di vendere o acquistare un libro universitario.</p>
        <br>
        <br>
        <br>
        <%= link_to 'Accedi', new_user_session_path, class: "btn btn-success btn-lg"%> |
        <%= link_to 'Registrati', new_user_registration_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
